@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft YaHei",Helvetica Neue,Helvetica,微软雅黑,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
}

h3 {
  text-align: center;
  font-weight: normal;
}

.vc {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  box-align: center;
  -webkit-box-align: center;
  /* y */
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

header .menu {
  width: 832px;
  margin: 0 auto;
  padding-top: 8px;
  justify-content: space-between;
}

header .menu .logo {
  text-align: center;
}

header .menu .logo img {
  width: 42px;
  height: 48px;
}

header .menu .logo span {
  display: block;
  color: #0A9AFF;
  font-size: 14px;
}

header .menu ul {
  clear: both;
  overflow: hidden;
  display: inline-block;
  padding: 8px;
  text-align: right;
}

header .menu ul li {
  float: left;
  margin: 0px 35px;
  font-size: 16px;
}

header .menu ul li:last-child {
  margin-right: 0px;
}

header .menu ul li:first-child {
  margin-left: 0px;
}

header .menu ul li a {
  color: #30CCFF;
  text-decoration: none;
}

header .menu ul li a.active {
  color: #fff;
  position: relative;
}

header .menu ul li a.active:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #0F91E5;
  bottom: -6px;
  left: 50%;
  margin-left: -13px;
}

footer {
  background: #000000;
}

footer .footer-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  background-image: url("../../public/common-f-1.png");
  text-align: center;
  padding: 70px 0px;
}

footer .footer-main {
  width: 1020px;
  margin: 0 auto;
}

footer .footer-main .qrcode {
  width: 154px;
  margin-right: 60px;
}

footer .footer-main .qrcode img {
  width: 100%;
  height: auto;
}

footer .footer-main .qrcode span {
  color: #6686AA;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
}

footer .borderwhite {
  padding: 7px;
  background-color: #fff;
}

footer .company-info {
  text-align: left;
}

footer .company-info p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 14px;
}

footer .company-info span {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 41px;
}

footer .company-info li {
  color: #6686AA;
  font-size: 14px;
  margin-bottom: 15px;
}

footer .company-info li img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

footer .company-info li.gray {
  color: #696969;
  font-size: 12px;
}
